<img  src="">


 #                                           Datos Meteorol√≥gicos 2023 Municipio de Madrid

### Autor: Alicia Ruiz Moreno

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('meteo23.csv', sep=';')

In [3]:
df= pd.DataFrame(data)

In [4]:
df

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,102,81,28079102_81_98,2023,1,1.39,V,1.03,...,2.76,V,2.05,V,2.31,V,1.17,V,0.73,V
1,28,79,102,81,28079102_81_98,2023,2,1.69,V,1.38,...,3.33,V,2.06,V,0.00,N,0.00,N,0.00,N
2,28,79,102,81,28079102_81_98,2023,3,1.51,V,1.18,...,1.49,V,1.43,V,1.67,V,3.19,V,3.35,V
3,28,79,102,81,28079102_81_98,2023,4,3.94,V,2.17,...,1.53,V,1.68,V,1.72,V,2.41,V,0.00,N
4,28,79,102,81,28079102_81_98,2023,5,2.26,V,1.66,...,2.14,V,1.12,V,1.32,V,1.62,V,1.37,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,28,79,59,89,28079059_89_98,2023,3,0.00,V,0.00,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,V
648,28,79,59,89,28079059_89_98,2023,4,0.00,V,0.00,...,0.00,V,0.00,V,0.50,V,0.00,V,0.00,N
649,28,79,59,89,28079059_89_98,2023,5,0.00,V,0.00,...,8.80,V,1.50,V,19.50,V,2.90,V,0.00,V
650,28,79,59,89,28079059_89_98,2023,6,9.20,V,3.80,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,N
651,28,79,59,89,28079059_89_98,2023,7,0.00,V,0.00,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,V

- Modificaci√≥n de la estructura

In [5]:
import datetime

In [6]:
def Reshape(df):
    for i, row in df.iterrows():
        df.loc[i,'01'] = str(row['D01']) + row ['V01']
        df.loc[i,'02'] = str(row['D02']) + row ['V02']
        df.loc[i,'03'] = str(row['D03']) + row ['V03']
        df.loc[i,'04'] = str(row['D04']) + row ['V04']
        df.loc[i,'05'] = str(row['D05']) + row ['V05']
        df.loc[i,'06'] = str(row['D06']) + row ['V06']
        df.loc[i,'07'] = str(row['D07']) + row ['V07']
        df.loc[i,'08'] = str(row['D08']) + row ['V08']
        df.loc[i,'09'] = str(row['D09']) + row ['V09']
        df.loc[i,'10'] = str(row['D10']) + row ['V10']
        df.loc[i,'11'] = str(row['D11']) + row ['V11']
        df.loc[i,'12'] = str(row['D12']) + row ['V12']
        df.loc[i,'13'] = str(row['D13']) + row ['V13']
        df.loc[i,'14'] = str(row['D14']) + row ['V14']
        df.loc[i,'15'] = str(row['D15']) + row ['V15']
        df.loc[i,'16'] = str(row['D16']) + row ['V16']
        df.loc[i,'17'] = str(row['D17']) + row ['V17']
        df.loc[i,'18'] = str(row['D18']) + row ['V18']
        df.loc[i,'19'] = str(row['D19']) + row ['V19']
        df.loc[i,'20'] = str(row['D20']) + row ['V20']
        df.loc[i,'21'] = str(row['D21']) + row ['V21']
        df.loc[i,'22'] = str(row['D22']) + row ['V22']
        df.loc[i,'23'] = str(row['D23']) + row ['V23']
        df.loc[i,'24'] = str(row['D24']) + row ['V24']
        df.loc[i,'25'] = str(row['D25']) + row ['V25']
        df.loc[i,'26'] = str(row['D26']) + row ['V26']
        df.loc[i,'27'] = str(row['D27']) + row ['V27']
        df.loc[i,'28'] = str(row['D28']) + row ['V28']
        df.loc[i,'29'] = str(row['D29']) + row ['V29']
        df.loc[i,'30'] = str(row['D30']) + row ['V30']
        df.loc[i,'31'] = str(row['D31']) + row ['V31']
    
    df = df.drop(['D01', 'V01', 'D02', 'V02', 'D03', 'V03', 'D04', 'V04', 'D05', 'V05', 'D06', 'V06', 'D07', 'V07', 
                  'D08', 'V08', 'D09', 'V09', 'D10', 'V10', 'D11', 'V11', 'D12', 'V12', 'D13', 'V13', 'D14', 'V14',
                  'D15', 'V15', 'D16', 'V16', 'D17', 'V17', 'D18', 'V18', 'D19', 'V19', 'D20', 'V20', 'D21', 'V21', 
                  'D22', 'V22', 'D23', 'V23', 'D24', 'V24', 'D25', 'V25', 'D26', 'V26', 'D27', 'V27', 'D28', 'V28', 
                  'D29', 'V29', 'D30', 'V30', 'D31', 'V31'], axis = 1)
    
    df = pd.melt(df, id_vars = ['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO', 'ANO', 'MES'],
                var_name = 'DIA',
                value_name = 'valor')
    
    df = df[~((df['MES'].isin([4,6,9,11])) & (df['DIA']==str(31)))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2019))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(30), str(31)])) & (df['ANO']== 2020))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2021))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2022))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2023))]
    
    df.rename(columns = {'ANO': 'year', 'MES': 'month', 'DIA': 'day'}, inplace=True)
    df['year'] = df['year'].astype(int)
    df['month'] = df['month'].astype(int)
    df['day'] = df['day'].astype(int)
    
    df['Datetime'] = ''
    for i, row in df.iterrows():
        df.at[i, 'Datetime'] = datetime.date(year = row['year'], day = row['day'], month = row['month'])
    
    for i, row in df.iterrows():
        df.loc[i,'validacion'] = row['valor'][len(row['valor'])-1]
        df.loc[i, 'valor'] = row['valor'][0:len(row['valor'])-1]
    
    df = df[df['validacion']== 'V']
    df['valor'] = df['valor'].astype('float')
    for i, row in df.iterrows():
        df.loc[i,'id'] = str(row['Datetime']) + '-' + str(row['ESTACION'])
    
    return(df)

In [7]:
df1 = Reshape(df)

In [8]:
df1

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,year,month,day,valor,Datetime,validacion,id
0,28,79,102,81,28079102_81_98,2023,1,1,1.39,2023-01-01,V,2023-01-01-102
1,28,79,102,81,28079102_81_98,2023,2,1,1.69,2023-02-01,V,2023-02-01-102
2,28,79,102,81,28079102_81_98,2023,3,1,1.51,2023-03-01,V,2023-03-01-102
3,28,79,102,81,28079102_81_98,2023,4,1,3.94,2023-04-01,V,2023-04-01-102
4,28,79,102,81,28079102_81_98,2023,5,1,2.26,2023-05-01,V,2023-05-01-102
...,...,...,...,...,...,...,...,...,...,...,...,...
20204,28,79,59,88,28079059_88_98,2023,7,31,330.00,2023-07-31,V,2023-07-31-59
20205,28,79,59,89,28079059_89_98,2023,1,31,0.00,2023-01-31,V,2023-01-31-59
20207,28,79,59,89,28079059_89_98,2023,3,31,0.00,2023-03-31,V,2023-03-31-59
20209,28,79,59,89,28079059_89_98,2023,5,31,0.00,2023-05-31,V,2023-05-31-59
20211,28,79,59,89,28079059_89_98,2023,7,31,0.00,2023-07-31,V,2023-07-31-59

In [9]:
df1['MAGNITUD'] = df1['MAGNITUD'].replace({80: 'RU', 81: 'VV', 82: 'DV', 83: 'TEMP', 86: 'HR', 87: 'PB', 88: 'RS',
                                        89: 'P'})

In [10]:
df1.shape

(18820, 12)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18820 entries, 0 to 20211
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       18820 non-null  int64
 1   MUNICIPIO       18820 non-null  int64
 2   ESTACION        18820 non-null  int64
 3   MAGNITUD        18820 non-null  object
 4   PUNTO_MUESTREO  18820 non-null  object
 5   year            18820 non-null  int64
 6   month           18820 non-null  int64
 7   day             18820 non-null  int64
 8   valor           18820 non-null  float64
 9   Datetime        18820 non-null  object
 10  validacion      18820 non-null  object
 11  id              18820 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.4+ MB

In [12]:
df1.duplicated().sum()

0

In [13]:
df1.to_csv("2023_METEO.csv", index=False)

## ANALISIS SERIE TEMPORAL

- Temperatura

In [14]:
time_TEMP = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'TEMP']

In [15]:
time_TEMP['Datetime'] = pd.to_datetime(time_TEMP['Datetime'])

In [16]:
time_TEMP['year'] = time_TEMP['Datetime'].dt.year
time_TEMP['month'] = time_TEMP['Datetime'].dt.month

In [17]:
temperatura_promedio = time_TEMP.groupby(['year', 'month'])['valor'].mean().reset_index()

In [18]:
print(temperatura_promedio)

   year  month      valor
0  2023      1   6.234332
1  2023      2   7.389568
2  2023      3  12.465421
3  2023      4  17.302954
4  2023      5  17.561549
5  2023      6  23.305015
6  2023      7  27.784959

- Precipitaci√≥n

In [19]:
time_P = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'P']

In [20]:
time_P['Datetime'] = pd.to_datetime(time_P['Datetime'])

In [21]:
time_P['year'] = time_P['Datetime'].dt.year
time_P['month'] = time_P['Datetime'].dt.month

In [22]:
precipitacion_promedio = time_P.groupby(['year', 'month'])['valor'].mean().reset_index()

In [23]:
print(precipitacion_promedio)

   year  month     valor
0  2023      1  0.350836
1  2023      2  0.067407
2  2023      3  0.510596
3  2023      4  0.282432
4  2023      5  1.959935
5  2023      6  1.049828
6  2023      7  0.000000

- Humedad relativa

In [24]:
time_HR = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'HR']

In [25]:
time_HR['Datetime'] = pd.to_datetime(time_HR['Datetime'])

In [26]:
time_HR['year'] = time_HR['Datetime'].dt.year
time_HR['month'] = time_HR['Datetime'].dt.month

In [27]:
humedad_promedio = time_HR.groupby(['year', 'month'])['valor'].mean().reset_index()
print(humedad_promedio)

   year  month      valor
0  2023      1  68.866071
1  2023      2  55.000000
2  2023      3  55.164157
3  2023      4  36.844615
4  2023      5  47.706790
5  2023      6  53.593548
6  2023      7  32.986686

- Radiaci√≥n solar

In [28]:
time_RS = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'RS']

In [29]:
time_RS['Datetime'] = pd.to_datetime(time_RS['Datetime'])

In [30]:
time_RS['year'] = time_RS['Datetime'].dt.year
time_RS['month'] = time_RS['Datetime'].dt.month

In [31]:
radiacion_solar_promedio = time_RS.groupby(['year', 'month'])['valor'].mean().reset_index()
print(radiacion_solar_promedio)

   year  month       valor
0  2023      1  100.628692
1  2023      2  144.009346
2  2023      3  210.016667
3  2023      4  272.478814
4  2023      5  276.902041
5  2023      6  289.573913
6  2023      7  333.080645

- Velocidad del viento

In [32]:
time_VV = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'VV']

In [33]:
time_VV['Datetime'] = pd.to_datetime(time_VV['Datetime'])

In [34]:
time_VV['year'] = time_VV['Datetime'].dt.year
time_VV['month'] = time_VV['Datetime'].dt.month

In [35]:
velocidad_viento_promedio = time_VV.groupby(['year', 'month'])['valor'].mean().reset_index()
print(velocidad_viento_promedio)

   year  month     valor
0  2023      1  1.222148
1  2023      2  1.008901
2  2023      3  1.423510
3  2023      4  1.367770
4  2023      5  1.469216
5  2023      6  1.233502
6  2023      7  1.458340

- Estructuramos la tabla para que sea m√°s sencillo de visualizar.

In [10]:
df1_pivot = df1.pivot_table('valor', ['ESTACION', 'Datetime'], 'MAGNITUD')

In [11]:
df1_pivot

MAGNITUD             DV    HR   P  PB  RS  TEMP  VV
ESTACION Datetime
4        2023-01-01 NaN   NaN NaN NaN NaN  10.6 NaN
         2023-01-02 NaN   NaN NaN NaN NaN  11.6 NaN
         2023-01-03 NaN   NaN NaN NaN NaN   8.4 NaN
         2023-01-04 NaN   NaN NaN NaN NaN   6.4 NaN
         2023-01-05 NaN   NaN NaN NaN NaN   6.4 NaN
...                  ..   ...  ..  ..  ..   ...  ..
115      2023-07-27 NaN  30.0 NaN NaN NaN  29.6 NaN
         2023-07-28 NaN  27.0 NaN NaN NaN  30.1 NaN
         2023-07-29 NaN  28.0 NaN NaN NaN  30.5 NaN
         2023-07-30 NaN  30.0 NaN NaN NaN  32.0 NaN
         2023-07-31 NaN  29.0 NaN NaN NaN  33.1 NaN

[5203 rows x 7 columns]

In [12]:
df1_pivot['RU'] = 0

In [13]:
nuevo_orden_columnas = ['DV', 'HR', 'P', 'PB', 'RS', 'RU', 'TEMP', 'VV']
df1_pivot = df1_pivot[nuevo_orden_columnas]

- Valores duplicados

In [38]:
df1_pivot.duplicated().sum()

520

- Valores faltantes (NaN)

In [39]:
df1_pivot.isnull().sum().sum()

17601

In [14]:
df1_pivot.to_csv("2023_METEO_pivot.csv")