<img  src="">


 #                                           Datos Calidad del Aire 2019 Municipio de Madrid

### Autor: Alicia Ruiz Moreno

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('datos201912.csv', encoding='latin-1', sep=';')

In [3]:
data

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2019,1,18.0,V,20.0,...,15.0,V,15.0,V,15.0,V,14.0,V,14.0,V
1,28,79,4,1,28079004_1_38,2019,2,13.0,V,13.0,...,19.0,V,20.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2019,3,18.0,V,18.0,...,6.0,V,7.0,V,6.0,V,4.0,V,4.0,V
3,28,79,4,1,28079004_1_38,2019,4,3.0,V,4.0,...,3.0,V,2.0,V,2.0,V,2.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2019,5,1.0,V,1.0,...,2.0,V,1.0,V,1.0,V,1.0,V,2.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

In [4]:
df = pd.DataFrame(data)

- Modificación de la estructura

In [5]:
import datetime

In [6]:
def Reshape(df):
    for i, row in df.iterrows():
        df.loc[i,'01'] = str(row['D01']) + row ['V01']
        df.loc[i,'02'] = str(row['D02']) + row ['V02']
        df.loc[i,'03'] = str(row['D03']) + row ['V03']
        df.loc[i,'04'] = str(row['D04']) + row ['V04']
        df.loc[i,'05'] = str(row['D05']) + row ['V05']
        df.loc[i,'06'] = str(row['D06']) + row ['V06']
        df.loc[i,'07'] = str(row['D07']) + row ['V07']
        df.loc[i,'08'] = str(row['D08']) + row ['V08']
        df.loc[i,'09'] = str(row['D09']) + row ['V09']
        df.loc[i,'10'] = str(row['D10']) + row ['V10']
        df.loc[i,'11'] = str(row['D11']) + row ['V11']
        df.loc[i,'12'] = str(row['D12']) + row ['V12']
        df.loc[i,'13'] = str(row['D13']) + row ['V13']
        df.loc[i,'14'] = str(row['D14']) + row ['V14']
        df.loc[i,'15'] = str(row['D15']) + row ['V15']
        df.loc[i,'16'] = str(row['D16']) + row ['V16']
        df.loc[i,'17'] = str(row['D17']) + row ['V17']
        df.loc[i,'18'] = str(row['D18']) + row ['V18']
        df.loc[i,'19'] = str(row['D19']) + row ['V19']
        df.loc[i,'20'] = str(row['D20']) + row ['V20']
        df.loc[i,'21'] = str(row['D21']) + row ['V21']
        df.loc[i,'22'] = str(row['D22']) + row ['V22']
        df.loc[i,'23'] = str(row['D23']) + row ['V23']
        df.loc[i,'24'] = str(row['D24']) + row ['V24']
        df.loc[i,'25'] = str(row['D25']) + row ['V25']
        df.loc[i,'26'] = str(row['D26']) + row ['V26']
        df.loc[i,'27'] = str(row['D27']) + row ['V27']
        df.loc[i,'28'] = str(row['D28']) + row ['V28']
        df.loc[i,'29'] = str(row['D29']) + row ['V29']
        df.loc[i,'30'] = str(row['D30']) + row ['V30']
        df.loc[i,'31'] = str(row['D31']) + row ['V31']
    
    df = df.drop(['D01', 'V01', 'D02', 'V02', 'D03', 'V03', 'D04', 'V04', 'D05', 'V05', 'D06', 'V06', 'D07', 'V07', 
                  'D08', 'V08', 'D09', 'V09', 'D10', 'V10', 'D11', 'V11', 'D12', 'V12', 'D13', 'V13', 'D14', 'V14',
                  'D15', 'V15', 'D16', 'V16', 'D17', 'V17', 'D18', 'V18', 'D19', 'V19', 'D20', 'V20', 'D21', 'V21', 
                  'D22', 'V22', 'D23', 'V23', 'D24', 'V24', 'D25', 'V25', 'D26', 'V26', 'D27', 'V27', 'D28', 'V28', 
                  'D29', 'V29', 'D30', 'V30', 'D31', 'V31'], axis = 1)
    
    df = pd.melt(df, id_vars = ['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO', 'ANO', 'MES'],
                var_name = 'DIA',
                value_name = 'valor')
    
    df = df[~((df['MES'].isin([4,6,9,11])) & (df['DIA']==str(31)))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2019))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(30), str(31)])) & (df['ANO']== 2020))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2021))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2022))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2023))]
    
    df.rename(columns = {'ANO': 'year', 'MES': 'month', 'DIA': 'day'}, inplace=True)
    df['year'] = df['year'].astype(int)
    df['month'] = df['month'].astype(int)
    df['day'] = df['day'].astype(int)
    
    df['Datetime'] = ''
    for i, row in df.iterrows():
        df.at[i, 'Datetime'] = datetime.date(year = row['year'], day = row['day'], month = row['month'])
    
    for i, row in df.iterrows():
        df.loc[i,'validacion'] = row['valor'][len(row['valor'])-1]
        df.loc[i, 'valor'] = row['valor'][0:len(row['valor'])-1]
    
    df = df[df['validacion']== 'V']
    df['valor'] = df['valor'].astype('float')
    for i, row in df.iterrows():
        df.loc[i,'id'] = str(row['Datetime']) + '-' + str(row['ESTACION'])
    
    return(df)

In [7]:
df1 = Reshape(df)

In [8]:
df1

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,year,month,day,valor,Datetime,validacion,id
0,28,79,4,1,28079004_1_38,2019,1,1,18.0,2019-01-01,V,2019-01-01-4
1,28,79,4,1,28079004_1_38,2019,2,1,13.0,2019-02-01,V,2019-02-01-4
2,28,79,4,1,28079004_1_38,2019,3,1,18.0,2019-03-01,V,2019-03-01-4
3,28,79,4,1,28079004_1_38,2019,4,1,3.0,2019-04-01,V,2019-04-01-4
4,28,79,4,1,28079004_1_38,2019,5,1,1.0,2019-05-01,V,2019-05-01-4
...,...,...,...,...,...,...,...,...,...,...,...,...
56908,28,79,60,14,28079060_14_6,2019,5,31,85.0,2019-05-31,V,2019-05-31-60
56910,28,79,60,14,28079060_14_6,2019,7,31,92.0,2019-07-31,V,2019-07-31-60
56911,28,79,60,14,28079060_14_6,2019,8,31,98.0,2019-08-31,V,2019-08-31-60
56913,28,79,60,14,28079060_14_6,2019,10,31,47.0,2019-10-31,V,2019-10-31-60
56915,28,79,60,14,28079060_14_6,2019,12,31,4.0,2019-12-31,V,2019-12-31-60

In [9]:
df1['ESTACION'].unique()

array([ 4,  8, 11, 16, 17, 18, 24, 27, 35, 36, 38, 39, 40, 47, 48, 49, 50,
       54, 55, 56, 57, 58, 59, 60])

In [10]:
df1['MAGNITUD'].unique()

array([ 1,  6,  7,  8, 12,  9, 10, 14, 20, 30, 35, 42, 43, 44])

In [11]:
df1['MAGNITUD'] = df1['MAGNITUD'].replace({1: 'SO2', 6: 'CO', 7: 'NO', 8: 'NO2', 12: 'NOX', 9: 'PM2.5', 10: 'PM10',
                                        14: 'O3', 20: 'TOL', 30: 'BEN', 35: 'EBE', 42: 'TCH', 43: 'CH4', 44: 'NMHC'})

In [12]:
df1.shape

(54874, 12)

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54874 entries, 0 to 56915
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       54874 non-null  int64
 1   MUNICIPIO       54874 non-null  int64
 2   ESTACION        54874 non-null  int64
 3   MAGNITUD        54874 non-null  object
 4   PUNTO_MUESTREO  54874 non-null  object
 5   year            54874 non-null  int64
 6   month           54874 non-null  int64
 7   day             54874 non-null  int64
 8   valor           54874 non-null  float64
 9   Datetime        54874 non-null  object
 10  validacion      54874 non-null  object
 11  id              54874 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 7.5+ MB

In [14]:
df1.duplicated().sum()

0

In [15]:
df1['MAGNITUD'].unique()

array(['SO2', 'CO', 'NO', 'NO2', 'NOX', 'PM2.5', 'PM10', 'O3', 'TOL',
       'BEN', 'EBE', 'TCH', 'CH4', 'NMHC'], dtype=object)

## ANÁLISIS TEMPORAL

- OZONO (O3)

In [16]:
time_O3 = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'O3']

In [17]:
time_O3['Datetime'] = pd.to_datetime(time_O3['Datetime'])

In [18]:
time_O3['year'] = time_O3['Datetime'].dt.year
time_O3['month'] = time_O3['Datetime'].dt.month

In [19]:
time_O3

        Datetime  valor  year  month
144   2019-01-01   14.0  2019      1
145   2019-02-01   56.0  2019      2
146   2019-03-01   45.0  2019      3
147   2019-04-01   43.0  2019      4
148   2019-05-01   74.0  2019      5
...          ...    ...   ...    ...
56908 2019-05-31   85.0  2019      5
56910 2019-07-31   92.0  2019      7
56911 2019-08-31   98.0  2019      8
56913 2019-10-31   47.0  2019     10
56915 2019-12-31    4.0  2019     12

[5047 rows x 4 columns]

In [20]:
O3_promedio = time_O3.groupby(['year', 'month'])['valor'].sum().reset_index()

In [21]:
print(O3_promedio)

    year  month    valor
0   2019      1  11026.0
1   2019      2  12206.0
2   2019      3  23622.0
3   2019      4  28131.0
4   2019      5  30243.0
5   2019      6  30991.0
6   2019      7  33352.0
7   2019      8  26777.0
8   2019      9  22622.0
9   2019     10  14201.0
10  2019     11  17430.0
11  2019     12  11681.0

In [22]:
total_suma = time_O3['valor'].sum()

In [23]:
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 262282.0

- PM10

In [24]:
time_PM10 = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'PM10']

In [25]:
time_PM10['Datetime'] = pd.to_datetime(time_PM10['Datetime'])

In [26]:
time_PM10['year'] = time_PM10['Datetime'].dt.year
time_PM10['month'] = time_PM10['Datetime'].dt.month

In [27]:
total_suma = time_PM10['valor'].sum()

In [28]:
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 80663.0

- PM2.5

In [29]:
time_PM25 = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'PM2.5']

In [30]:
time_PM25['Datetime'] = pd.to_datetime(time_PM25['Datetime'])

In [31]:
time_PM25['year'] = time_PM25['Datetime'].dt.year
time_PM25['month'] = time_PM25['Datetime'].dt.month

In [32]:
total_suma = time_PM25['valor'].sum()

In [33]:
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 24574.0

- NOx

In [34]:
time_NOX = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'NOX']
time_NOX['Datetime'] = pd.to_datetime(time_NOX['Datetime'])
time_NOX['year'] = time_NOX['Datetime'].dt.year
time_NOX['month'] = time_NOX['Datetime'].dt.month

In [35]:
total_suma = time_NOX['valor'].sum()
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 511581.0

- CO

In [36]:
time_CO = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'CO']
time_CO['Datetime'] = pd.to_datetime(time_CO['Datetime'])
time_CO['year'] = time_CO['Datetime'].dt.year
time_CO['month'] = time_CO['Datetime'].dt.month

In [37]:
total_suma = time_CO['valor'].sum()
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 1204.1000000000001

In [38]:
df1.to_csv("2019_AIRE.csv", index=False)

- Estructuramos la tabla para que sea más sencillo de visualizar.

In [39]:
df1_pivot = df1.pivot_table('valor', ['ESTACION', 'Datetime'], 'MAGNITUD')

In [40]:
df1_pivot

MAGNITUD             BEN  CH4   CO  EBE  NMHC     NO   NO2    NOX    O3  PM10  \
ESTACION Datetime
4        2019-01-01  NaN  NaN  0.8  NaN   NaN  105.0  71.0  232.0   NaN   NaN
         2019-01-02  NaN  NaN  1.0  NaN   NaN  163.0  84.0  334.0   NaN   NaN
         2019-01-03  NaN  NaN  0.9  NaN   NaN  125.0  77.0  269.0   NaN   NaN
         2019-01-04  NaN  NaN  1.0  NaN   NaN  142.0  86.0  304.0   NaN   NaN
         2019-01-05  NaN  NaN  0.9  NaN   NaN  108.0  75.0  241.0   NaN   NaN
...                  ...  ...  ...  ...   ...    ...   ...    ...   ...   ...
60       2019-12-27  NaN  NaN  NaN  NaN   NaN   32.0  63.0  112.0  17.0  12.0
         2019-12-28  NaN  NaN  NaN  NaN   NaN   35.0  76.0  130.0  13.0  14.0
         2019-12-29  NaN  NaN  NaN  NaN   NaN   37.0  69.0  126.0  14.0  15.0
         2019-12-30  NaN  NaN  NaN  NaN   NaN   59.0  84.0  174.0   5.0  19.0
         2019-12-31  NaN  NaN  NaN  NaN   NaN   77.0  83.0  202.0   4.0  25.0

MAGNITUD             PM2.5   SO2  TCH  TOL
ESTACION Datetime
4        2019-01-01    NaN  18.0  NaN  NaN
         2019-01-02    NaN  20.0  NaN  NaN
         2019-01-03    NaN  18.0  NaN  NaN
         2019-01-04    NaN  19.0  NaN  NaN
         2019-01-05    NaN  18.0  NaN  NaN
...                    ...   ...  ...  ...
60       2019-12-27    NaN   NaN  NaN  NaN
         2019-12-28    NaN   NaN  NaN  NaN
         2019-12-29    NaN   NaN  NaN  NaN
         2019-12-30    NaN   NaN  NaN  NaN
         2019-12-31    NaN   NaN  NaN  NaN

[8683 rows x 14 columns]

- Valores duplicados

In [41]:
df1_pivot.duplicated().sum()

105

- Valores faltantes (NaN)

In [42]:
df1_pivot.isnull().sum().sum()

66688

In [45]:
df1_pivot.to_csv("2019_AIRE_pivot.csv")

In [43]:
df1.to_csv("2019_AIRE.csv", index=False)