In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('df_modif.csv', encoding='latin-1', sep=',')

In [7]:
data

,estacion,Datetime,DV,HR,P,PB,RS,RU,TEMP,VV,...,NMHC,NO,NO2,NOX,O3,PM10,PM25,SO2,TCH,TOL
0,4,2019-01-01,55.50,56.636364,0.0,956.000000,104.333333,4.666667,4.5,0.6375,...,0.130,105.0,71.0,232.0,13.0,32.600000,24.00,18.00,1.665,2.650
1,4,2019-01-02,190.00,60.727273,0.0,954.000000,105.000000,4.666667,4.0,0.6450,...,0.160,163.0,84.0,334.0,8.5,35.000000,22.25,20.00,1.695,4.625
2,4,2019-01-03,75.00,51.090909,0.0,953.000000,108.000000,4.666667,4.3,0.7125,...,0.120,125.0,77.0,269.0,17.5,25.666667,14.25,18.00,1.595,3.800
3,4,2019-01-04,177.25,59.090909,0.0,955.000000,106.333333,4.333333,4.1,0.6325,...,0.165,142.0,86.0,304.0,8.5,38.500000,21.75,19.00,1.665,5.200
4,4,2019-01-05,115.75,58.909091,0.0,957.666667,108.333333,4.666667,3.6,0.6600,...,0.185,108.0,75.0,241.0,8.2,34.400000,24.25,18.00,1.770,4.475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21182,59,2023-07-27,0.00,40.000000,0.0,937.000000,334.000000,0.000000,26.6,1.4600,...,0.000,2.0,22.0,25.0,100.0,26.666667,11.25,1.75,0.000,2.750
21183,59,2023-07-28,8.00,38.000000,0.0,937.000000,331.000000,0.000000,27.3,1.3800,...,0.000,4.0,21.0,28.0,100.0,23.166667,10.75,1.75,0.000,1.825
21184,59,2023-07-29,12.00,38.000000,0.0,937.000000,335.000000,0.000000,27.7,1.2300,...,0.000,1.0,19.0,21.0,75.0,16.833333,7.75,1.75,0.000,1.500
21185,59,2023-07-30,1.00,40.000000,0.0,939.000000,333.000000,0.000000,29.1,1.1200,...,0.000,2.0,17.0,20.0,78.0,14.333333,7.50,1.75,0.000,0.975
21186,59,2023-07-31,2.00,40.000000,0.0,939.000000,330.000000,0.000000,29.5,1.0900,...,0.000,1.0,14.0,16.0,101.0,17.833333,11.25,2.00,0.000,1.100

In [11]:
df = pd.DataFrame(data)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21187 entries, 0 to 21186
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   estacion  21187 non-null  int64
 1   Datetime  21187 non-null  object
 2   DV        21187 non-null  float64
 3   HR        21187 non-null  float64
 4   P         21187 non-null  float64
 5   PB        21187 non-null  float64
 6   RS        21187 non-null  float64
 7   RU        18307 non-null  float64
 8   TEMP      21187 non-null  float64
 9   VV        21187 non-null  float64
 10  BEN       21187 non-null  float64
 11  CH4       21187 non-null  float64
 12  CO        21187 non-null  float64
 13  EBE       21187 non-null  float64
 14  NMHC      21187 non-null  float64
 15  NO        21187 non-null  float64
 16  NO2       21187 non-null  float64
 17  NOX       21187 non-null  float64
 18  O3        21187 non-null  float64
 19  PM10      21187 non-null  float64
 20  PM25      21187 non-null  float64
 21  SO2       21187 non-null  float64
 22  TCH       21187 non-null  float64
 23  TOL       21187 non-null  float64
dtypes: float64(22), int64(1), object(1)
memory usage: 3.9+ MB

In [15]:
# quitamos la variable del tipo object (string)
variables = df.drop(["Datetime"], axis=1, inplace=False)

## NORMALIZAR

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()

In [20]:
df_transformed = scaler.fit_transform(variables._get_numeric_data())

In [21]:
print(df_transformed)

[[-1.69445476 -0.51518869  0.00656204 ...  3.87963186  1.47847981
   0.75554379]
 [-1.69445476  1.05976054  0.22500006 ...  4.50262185  1.52094627
   2.23568883]
 [-1.69445476 -0.28685032 -0.28954283 ...  3.87963186  1.37939139
   1.6174004 ]
 ...
 [ 1.33573896 -1.02455889 -0.9885445  ... -1.18216183 -0.87840892
  -0.10631282]
 [ 1.33573896 -1.15336514 -0.88175258 ... -1.18216183 -0.87840892
  -0.4997691 ]
 [ 1.33573896 -1.14165549 -0.88175258 ... -1.10428808 -0.87840892
  -0.40608903]]

In [26]:
df.shape

(21187, 24)

In [25]:
df.columns

Index(['estacion', 'Datetime', 'DV', 'HR', 'P', 'PB', 'RS', 'RU', 'TEMP', 'VV',
       'BEN', 'CH4', 'CO', 'EBE', 'NMHC', 'NO', 'NO2', 'NOX', 'O3', 'PM10',
       'PM25', 'SO2', 'TCH', 'TOL'],
      dtype='object')

## DIVISIÓN DATOS: TRAIN Y TEST

In [39]:
X = df.iloc[:,2:10]
y = df.iloc[:,10:24]

In [43]:
# Importamos el módulo de StratifiedKfold
from sklearn.model_selection import StratifiedKFold
# Importamos el módulo de cross_val_score
from sklearn.model_selection import cross_val_predict
# Importamos el módulo para realizar la partición entre train y test
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
# Variables independientes
X.shape

(21187, 8)

In [47]:
# Variables dependientes
y.shape

(21187, 14)

In [48]:
X_train.shape

(16949, 8)

In [49]:
X_test.shape

(4238, 8)

In [50]:
y_train.shape

(16949, 14)

In [51]:
y_test.shape

(4238, 14)

## SELECCIÓN DE VARIABLES

In [54]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21187 entries, 0 to 21186
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DV      21187 non-null  float64
 1   HR      21187 non-null  float64
 2   P       21187 non-null  float64
 3   PB      21187 non-null  float64
 4   RS      21187 non-null  float64
 5   RU      18307 non-null  float64
 6   TEMP    21187 non-null  float64
 7   VV      21187 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [55]:
X.isnull().sum()

DV         0
HR         0
P          0
PB         0
RS         0
RU      2880
TEMP       0
VV         0
dtype: int64

In [57]:
media = X['RU'].mean()

# Rellena los NaN con la media
X['RU'].fillna(media, inplace=True)

In [58]:
X.isnull().sum()

DV      0
HR      0
P       0
PB      0
RS      0
RU      0
TEMP    0
VV      0
dtype: int64

In [62]:
import numpy as np

In [86]:
X.shape

(21187, 8)

In [84]:
from sklearn.feature_selection import VarianceThreshold

selector = VarianceThreshold(threshold=0.5)
X_new2= selector.fit_transform(X, y)
X_new2

array([[ 55.5       ,  56.63636364,   0.        , ..., 104.33333333,
          4.66666667,   4.5       ],
       [190.        ,  60.72727273,   0.        , ..., 105.        ,
          4.66666667,   4.        ],
       [ 75.        ,  51.09090909,   0.        , ..., 108.        ,
          4.66666667,   4.3       ],
       ...,
       [ 12.        ,  38.        ,   0.        , ..., 335.        ,
          0.        ,  27.7       ],
       [  1.        ,  40.        ,   0.        , ..., 333.        ,
          0.        ,  29.1       ],
       [  2.        ,  40.        ,   0.        , ..., 330.        ,
          0.        ,  29.5       ]])

In [85]:
X_new2.shape

(21187, 7)

In [88]:
variables2 = selector.get_support(indices=True)

In [89]:
print("Variables modelo VarianceThreshold:")
for final_variables in variables2:
        print(X.columns.values[final_variables])

Variables modelo VarianceThreshold:
DV
HR
P
PB
RS
RU
TEMP

## PCA

In [79]:
from sklearn.decomposition import PCA

In [80]:
pca = PCA(n_components=4)
pca.fit(X)
print(pca.components_)
print(pca.explained_variance_ratio_)
transformacion = pca.transform(X)

[[ 1.68357312e-01  1.50915478e-01  8.96680040e-03  5.48735667e-03
  -9.72309291e-01 -3.58167917e-03 -5.80655153e-02 -1.74850009e-04]
 [ 9.85404532e-01 -1.40524162e-02 -1.06135733e-03 -1.83684848e-02
   1.67773921e-01  1.45939154e-02  8.40512366e-03  3.19265914e-03]
 [ 1.31911078e-02 -9.72717267e-01 -7.57470965e-02  1.17086973e-01
  -1.54515676e-01  3.70727173e-02  9.45617804e-02 -2.95316584e-03]
 [ 5.06507106e-03  5.69885934e-02 -1.92293859e-01  7.06005457e-01
   4.24437165e-02  4.13809181e-01 -5.36346333e-01 -2.44768431e-02]]
[0.59074032 0.39810553 0.0061609  0.00206731]

In [81]:
loadings = pca.components_

In [82]:
# Obtén las etiquetas de las características originales (nombres de columnas)
feature_names = X.columns

# Itera a través de los componentes principales y sus loadings
for i, component in enumerate(loadings):
    print(f"Componente Principal {i + 1}:")
    for j, loading in enumerate(component):
        print(f"Variable {feature_names[j]}: {loading}")
    print(f"Varianza explicada: {pca.explained_variance_ratio_[i]}")
    print()

Componente Principal 1:
Variable DV: 0.16835731152386807
Variable HR: 0.15091547784779796
Variable P: 0.008966800404952617
Variable PB: 0.005487356673212305
Variable RS: -0.9723092905780433
Variable RU: -0.003581679165505565
Variable TEMP: -0.058065515300527844
Variable VV: -0.00017485000904986415
Varianza explicada: 0.5907403205777884

Componente Principal 2:
Variable DV: 0.9854045319831632
Variable HR: -0.014052416243840408
Variable P: -0.0010613573316225052
Variable PB: -0.01836848481550884
Variable RS: 0.16777392135805905
Variable RU: 0.01459391541064538
Variable TEMP: 0.008405123656599716
Variable VV: 0.003192659141431696
Varianza explicada: 0.39810552593606985

Componente Principal 3:
Variable DV: 0.01319110782661184
Variable HR: -0.9727172665694245
Variable P: -0.07574709646081275
Variable PB: 0.11708697329480192
Variable RS: -0.15451567617200898
Variable RU: 0.0370727172969787
Variable TEMP: 0.0945617804150183
Variable VV: -0.0029531658433202958
Varianza explicada: 0.006160902717929285

Componente Principal 4:
Variable DV: 0.005065071056730195
Variable HR: 0.056988593366357705
Variable P: -0.19229385909719426
Variable PB: 0.70600545687816
Variable RS: 0.04244371649709007
Variable RU: 0.41380918135707767
Variable TEMP: -0.5363463325119676
Variable VV: -0.024476843108241494
Varianza explicada: 0.0020673074613095175