In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('parque_vehiculos_2020.csv', encoding='latin-1', sep=';')

In [8]:
df = pd.DataFrame(data)

In [9]:
df

,ï»¿AÃ±o EmisiÃ³n,Cod Tipo Persona,Tipo Persona,Cod Distrito VehÃ­culo,Distrito VehÃ­culo,Cod Barrio VehÃ­culo,Barrio VehÃ­culo,Cod Tipo VehÃ­culo,Tipo VehÃ­culo,Etiqueta Medioambiental,ClasificaciÃ³n Ambiental,Rango Cuota,Combustible,AÃ±o MatriculaciÃ³n,Contador Registros
0,2020,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,Tipo carburante desconocido,2013,1
1,2020,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2007,2
2,2020,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2009,1
3,2020,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2010,1
4,2020,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163988,2020,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,C,Etiqueta C,224.0,GASOLINA,2018,1
163989,2020,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,-129.0,GASOLINA,2019,1
163990,2020,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,129.0,DIESEL,2001,1
163991,2020,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,129.0,GASOLINA,2000,1
163992,2020,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,179.0,DIESEL,2005,1

In [10]:
df.columns

Index(['ï»¿AÃ±o EmisiÃ³n', 'Cod Tipo Persona', 'Tipo Persona',
       'Cod Distrito VehÃ­culo', 'Distrito VehÃ­culo', 'Cod Barrio VehÃ­culo',
       'Barrio VehÃ­culo', 'Cod Tipo VehÃ­culo', 'Tipo VehÃ­culo ',
       'Etiqueta Medioambiental', 'ClasificaciÃ³n Ambiental', 'Rango Cuota',
       'Combustible', 'AÃ±o MatriculaciÃ³n', 'Contador Registros'],
      dtype='object')

In [17]:
# Filtrar
columnas_deseadas = ["Distrito VehÃ­culo", "Contador Registros"]
df_filtrado = df[columnas_deseadas]

In [18]:
df_filtrado

       Distrito VehÃ­culo  Contador Registros
0                      --                   1
1                      --                   2
2                      --                   1
3                      --                   1
4                      --                   1
...                   ...                 ...
163988            BARAJAS                   1
163989            BARAJAS                   1
163990            BARAJAS                   1
163991            BARAJAS                   1
163992            BARAJAS                   1

[163993 rows x 2 columns]

In [19]:
resultados = df_filtrado.groupby("Distrito VehÃ­culo")["Contador Registros"].sum().reset_index()

In [20]:
resultados

       Distrito VehÃ­culo  Contador Registros
0                      --              157471
1              ARGANZUELA               72961
2                 BARAJAS               27882
3             CARABANCHEL              107212
4                  CENTRO               60961
5               CHAMARTIN               97822
6                CHAMBERI               77356
7           CIUDAD LINEAL              104485
8   FUENCARRAL - EL PARDO              128161
9               HORTALEZA               99150
10                 LATINA              104750
11      MONCLOA - ARAVACA               70542
12              MORATALAZ               45909
13     PUENTE DE VALLECAS              101649
14                 RETIRO               72654
15              SALAMANCA               90829
16  SAN BLAS - CANILLEJAS               84791
17                 TETUAN               80317
18                  USERA               57326
19              VICALVARO               34034
20      VILLA DE VALLECAS               50473
21             VILLAVERDE               66585